{% extends 'base.html' %}

{% block content %}
  <h2>Clientes Registrados</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Correo</th>
        <th>Dirección</th>
        <th>Fecha de Registro</th>
    </tr>
    {% for cliente in clientes %}
    <tr>
        <td>{{ cliente[0] }}</td>
        <td>{{ cliente[1] }}</td>
        <td>{{ cliente[2] }}</td>
        <td>{{ cliente[3] }}</td>
        <td>{{ cliente[4] }}</td>
        <td>{{ cliente[5] }}</td>
    </tr>
    {% endfor %}
</table>

<br>
<a href="/"><button type="button">Volver al Formulario</button></a>
{% block content %}
